.contactsListItem {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.1;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #3c020b;
  justify-content: space-between;
  width: 100%;
}

.contactsListName {
  margin-right: 5px;
  margin: 0;
}
.contactsListBtn {
  /* border: 1px solid rgba(33, 33, 33, 0.2); */
  border-radius: 4px;
  background-image: url('../../images/texture.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: Dancing Script;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
